In [1]:
import numpy as np
import pandas as pd
import matplotlib as plot
import os
os.chdir(r"C:\Users\Capta\Documents\GitHub\csgo_econ_viz")

In [28]:
econ_data = pd.read_csv("data/raw/economy.csv", parse_dates=["date"])
results_data = pd.read_csv("data/raw/results.csv", parse_dates=["date"])
players_data = pd.read_csv("data/raw/players.csv", parse_dates=["date"])

C:\Users\Capta\AppData\Local\Temp\ipykernel_3608\1838040565.py:1: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  econ_data = pd.read_csv("data/raw/economy.csv", parse_dates=["date"])

In [29]:
players_data

,date,player_name,team,opponent,country,player_id,match_id,event_id,event_name,best_of,...,m3_kddiff_ct,m3_adr_ct,m3_kast_ct,m3_rating_ct,m3_kills_t,m3_deaths_t,m3_kddiff_t,m3_adr_t,m3_kast_t,m3_rating_t
0,2020-02-26,Brehze,Evil Geniuses,Liquid,United States,9136,2339385,4901,IEM Katowice 2020,3,...,-1.0,72.5,80.0,0.93,7.0,9.0,-2.0,70.4,63.6,0.89
1,2020-02-26,CeRq,Evil Geniuses,Liquid,Bulgaria,11219,2339385,4901,IEM Katowice 2020,3,...,3.0,79.5,53.3,1.12,4.0,8.0,-4.0,40.7,54.5,0.53
2,2020-02-26,EliGE,Liquid,Evil Geniuses,United States,8738,2339385,4901,IEM Katowice 2020,3,...,1.0,81.5,63.6,1.03,9.0,9.0,0.0,87.9,73.3,1.05
3,2020-02-26,Ethan,Evil Geniuses,Liquid,United States,10671,2339385,4901,IEM Katowice 2020,3,...,0.0,67.2,66.7,0.97,1.0,9.0,-8.0,14.8,45.5,0.31
4,2020-02-26,NAF,Liquid,Evil Geniuses,Canada,8520,2339385,4901,IEM Katowice 2020,3,...,-1.0,72.9,81.8,0.96,8.0,7.0,1.0,56.3,80.0,0.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
383312,2015-10-07,kIMERA,ExAequo,RIP Fonty,Italy,7607,2298497,1957,Milan Games Week 2015 League by FACEIT,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
383313,2015-10-07,morphiw0w,ExAequo,RIP Fonty,Italy,9752,2298497,1957,Milan Games Week 2015 League by FACEIT,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
383314,2015-10-07,overfly,RIP Fonty,ExAequo,Italy,7698,2298497,1957,Milan Games Week 2015 League by FACEIT,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
383315,2015-10-07,simozor,RIP Fonty,ExAequo,Italy,9753,2298497,1957,Milan Games Week 2015 League by FACEIT,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
383316,2015-10-07,xullE,RIP Fonty,ExAequo,Italy,9754,2298497,1957,Milan Games Week 2015 League by FACEIT,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
players_data

,date,player_name,team,opponent,country,player_id,match_id,event_id,event_name,best_of,...,m3_kddiff_ct,m3_adr_ct,m3_kast_ct,m3_rating_ct,m3_kills_t,m3_deaths_t,m3_kddiff_t,m3_adr_t,m3_kast_t,m3_rating_t
0,2020-02-26,Brehze,Evil Geniuses,Liquid,United States,9136,2339385,4901,IEM Katowice 2020,3,...,-1.0,72.5,80.0,0.93,7.0,9.0,-2.0,70.4,63.6,0.89
1,2020-02-26,CeRq,Evil Geniuses,Liquid,Bulgaria,11219,2339385,4901,IEM Katowice 2020,3,...,3.0,79.5,53.3,1.12,4.0,8.0,-4.0,40.7,54.5,0.53
2,2020-02-26,EliGE,Liquid,Evil Geniuses,United States,8738,2339385,4901,IEM Katowice 2020,3,...,1.0,81.5,63.6,1.03,9.0,9.0,0.0,87.9,73.3,1.05
3,2020-02-26,Ethan,Evil Geniuses,Liquid,United States,10671,2339385,4901,IEM Katowice 2020,3,...,0.0,67.2,66.7,0.97,1.0,9.0,-8.0,14.8,45.5,0.31
4,2020-02-26,NAF,Liquid,Evil Geniuses,Canada,8520,2339385,4901,IEM Katowice 2020,3,...,-1.0,72.9,81.8,0.96,8.0,7.0,1.0,56.3,80.0,0.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
383312,2015-10-07,kIMERA,ExAequo,RIP Fonty,Italy,7607,2298497,1957,Milan Games Week 2015 League by FACEIT,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
383313,2015-10-07,morphiw0w,ExAequo,RIP Fonty,Italy,9752,2298497,1957,Milan Games Week 2015 League by FACEIT,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
383314,2015-10-07,overfly,RIP Fonty,ExAequo,Italy,7698,2298497,1957,Milan Games Week 2015 League by FACEIT,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
383315,2015-10-07,simozor,RIP Fonty,ExAequo,Italy,9753,2298497,1957,Milan Games Week 2015 League by FACEIT,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
383316,2015-10-07,xullE,RIP Fonty,ExAequo,Italy,9754,2298497,1957,Milan Games Week 2015 League by FACEIT,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
players_data = players_data.assign(
    player_id = players_data['player_id'].astype('int16'),
    team = players_data['team'].astype('category'),
    opponent = players_data['opponent'].astype('category'),
    country = players_data['country'].astype('category'),
    event_name = players_data['event_name'].astype('category'),
    best_of = players_data['best_of'].astype('category')
)
players_data.dtypes

date           datetime64[ns]
player_name            object
team                 category
opponent             category
country              category
                    ...
m3_deaths_t           float64
m3_kddiff_t           float64
m3_adr_t              float64
m3_kast_t             float64
m3_rating_t           float64
Length: 101, dtype: object

In [53]:

players_data.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 383317 entries, 0 to 383316
Columns: 101 entries, date to m3_rating_t
dtypes: category(5), datetime64[ns](1), float64(76), int16(1), int64(14), object(4)
memory usage: 340.4 MB

In [3]:
id_number = 2339402
econ_data.query("match_id == @id_number")

,date,match_id,event_id,team_1,team_2,best_of,_map,t1_start,t2_start,1_t1,...,21_winner,22_winner,23_winner,24_winner,25_winner,26_winner,27_winner,28_winner,29_winner,30_winner
0,2020-03-01,2339402,4901,G2,Natus Vincere,5,Nuke,t,ct,4350.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-03-01,2339402,4901,G2,Natus Vincere,5,Dust2,ct,t,3900.0,...,2.0,1.0,1.0,1.0,1.0,1.0,2.0,2.0,2.0,NaN
2,2020-03-01,2339402,4901,G2,Natus Vincere,5,Mirage,t,ct,4150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:

results_data.query("match_id == @id_number")

,date,team_1,team_2,_map,result_1,result_2,map_winner,starting_ct,ct_1,t_2,t_1,ct_2,event_id,match_id,rank_1,rank_2,map_wins_1,map_wins_2,match_winner
658,2020-03-01,G2,Natus Vincere,Mirage,2,16,2,2,1,2,1,14,4901,2339402,8,6,0,3,2
659,2020-03-01,G2,Natus Vincere,Nuke,4,16,2,2,3,2,1,14,4901,2339402,8,6,0,3,2
663,2020-03-01,G2,Natus Vincere,Dust2,13,16,2,1,7,8,6,8,4901,2339402,8,6,0,3,2

In [5]:

team_name = "G2"
players_data.query("team == @team_name")

,date,player_name,team,opponent,country,player_id,match_id,event_id,event_name,best_of,...,m3_kddiff_ct,m3_adr_ct,m3_kast_ct,m3_rating_ct,m3_kills_t,m3_deaths_t,m3_kddiff_t,m3_adr_t,m3_kast_t,m3_rating_t
20,2020-02-26,AmaNEk,G2,mousesports,France,9616,2339384,4901,IEM Katowice 2020,3,...,5.0,111.4,87.5,1.65,10.0,10.0,0.0,68.1,60.0,1.00
21,2020-02-26,JaCkz,G2,mousesports,France,284,2339384,4901,IEM Katowice 2020,3,...,6.0,113.9,100.0,1.80,5.0,9.0,-4.0,37.3,60.0,0.69
24,2020-02-26,huNter-,G2,mousesports,Serbia,3972,2339384,4901,IEM Katowice 2020,3,...,3.0,108.6,87.5,1.52,13.0,8.0,5.0,89.5,80.0,1.29
26,2020-02-26,kennyS,G2,mousesports,France,7167,2339384,4901,IEM Katowice 2020,3,...,2.0,81.2,100.0,1.33,18.0,9.0,9.0,136.4,86.7,2.10
27,2020-02-26,nexa,G2,mousesports,Serbia,9618,2339384,4901,IEM Katowice 2020,3,...,5.0,74.2,87.5,1.37,11.0,8.0,3.0,60.9,80.0,1.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382519,2015-10-13,Maikelele,G2,TSM,Sweden,1045,2298573,1937,FACEIT League 2015 Stage 3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
382522,2015-10-13,dennis,G2,TSM,Sweden,1146,2298573,1937,FACEIT League 2015 Stage 3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
382525,2015-10-13,fox,G2,TSM,Portugal,629,2298573,1937,FACEIT League 2015 Stage 3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
382526,2015-10-13,jkaem,G2,TSM,Norway,8248,2298573,1937,FACEIT League 2015 Stage 3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
382528,2015-10-13,rain,G2,TSM,Norway,8183,2298573,1937,FACEIT League 2015 Stage 3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN